*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
kbd{
    border: 1px solid red;
    width: 4em;
    height: 4em;
    text-transform: uppercase;/*所有元素都大写*/
    display: inline-block;
    position: relative;/*相对定位*/
    
}/*kbd为内联元素*/
kbd >button{
    display:inline-block;
    position: absolute;/*绝对定位*/
    right:0;
    bottom: 0;
    display:none;           /*color:transparent;*/
}
kbd:hover >button{
    /*color: black;*/
    display:inline-block; 
}
main{
    text-align: center;
}
#mainxxx{
    display: inline-block;
}
#mainxxx > div:nth-child(2){
    margin-left: 0.5em;
}
#mainxxx > div:nth-child(3){
    margin-left: 2em;
}